body{
    font-family: 'Noto Sans TC', sans-serif ;
}

h1{
	 font-family: 'Noto Sans TC', Cursive ;
	 text-transform: none;
}
.bg-primary {
	background-color:#426182!important;
	background-image: url("../img/inspiration-geometry.png");
}
.text-primary {
  color: #426182!important;
}
a {
  color:#426182 ;
}