body{
    font-family: 'Noto Sans TC', sans-serif;
	color: #000000!important;
	font-size:130%
}

h1{
	 font-family:'Noto Sans TC', sans-serif;
	 text-transform: none;
}

h1.mb-0{
	 font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary {
	background-color:#426182!important;
	background-image: url("../img/inspiration-geometry.png");
}
.text-primary {
  font-family: 'Noto Sans TC', sans-serif;
  color: #426182!important;
  font-size:90%
}
a {
  color: #FFFFF!important;
}


h2 .mb-5 span{
	color: #426182!important;
	font-family: 'Noto Sans TC', 'Josefin Sans',  sans-serif;
}

a.card-link.collapsed {
	color: #000000!important;
}

a.q{
	color:#426182!important;
}

p{
	font-family:'Noto Sans TC', sans-serif;
}